a, a:hover{
	color: #0489B1;
}
.navbar-default{
	background: #0489B1;
}

.form-control:focus {
  border-color: #0489B1;
  -webkit-box-shadow: inset 0 1px 1px rgba(4,137,177,.075), 0 0 2px #0489B1;
          box-shadow: inset 0 1px 1px rgba(4,137,177,.075), 0 0 2px #0489B1;
}

.service .carousel-indicators .active {
	background: #0489B1;
}

.btn-theme {
	background: #0489B1;
}

.lb-album li > a span{
	background: #0489B1;
	background: -moz-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%, #0489B1 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(4,137,177,0.56)), color-stop(100%,#0489B1));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
	background: radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
}
.lb-overlay{
	background: #0489B1;
	background: -moz-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%, #0489B1 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(4,137,177,0.56)), color-stop(100%,#0489B1));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
	background: radial-gradient(center, ellipse cover, rgba(4,137,177,0.56) 0%,#0489B1 100%);
}